---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  readability-braces-around-statements,
  readability-misleading-indentation,
  readability-redundant-control-flow
WarningsAsErrors: ''
HeaderFilterRegex: '^(firmware|tests/hil/firmware)/.*'
FormatStyle: file
...
